body {
    background-color: #696969;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /*занимает 100% высоты экрана*/
  }

  .form-container {
    background-color: #696969;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
  }

  .form-container label {
    display: block;
    margin-bottom: 10px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    resize: none;
  }

  .form-container input[type="submit"] {
    background-color: #4CAF50;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-container input[type="submit"]:hover {
    background-color: #45a049;
  }