body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  header {
    background-color: #696969;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #696969;
    color: #fff
  }
  
  img {
    display: block;
    margin: 20px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #ffffff;
    padding: 8px;
  }
  
  footer {
    background-color: #696969;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
 .header {
  display:flex;
  justify-content: space-between; 
 }